.carritoLogo{
    margin: 0;
    width: 35px;
    height: 50px;
}
.borrar-curso {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

/*apariencia carrito de compras*/

.count-products span {
    background-color: rgb(128, 255, 196);
    border-radius: 50%;
    padding: 5px 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}



.vacio {
    padding: 10px;
    background-color: rgb(171, 39, 39);
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 0, 0);
}


/*********************  MENU PRINCIPAL ******************************/



